**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/.terraform.tfstate.lock.info
infra/environments/*/terraform.tfvars
!infra/environments/*/terraform.tfvars.example
**/plan.out
**/tfplan

kubectl
policies/iam_policy.json
